<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshproduct($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-grid class="content">
    <ion-row  >
      @for (product of products; track product._id) {
        <ion-col size="6" (click)="goToProduct(product)">
          <ion-card class="list ion-text-center">
            <ion-img [src]="product.img | imageUrl" />
            <ion-card-header>
              <ion-card-title>{{product.name | translate}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      }
     
    </ion-row>
  </ion-grid>
</ion-content>
