<ion-menu contentId="content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title color="light">{{ 'label.menu' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

  </ion-content>
</ion-menu>


<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img class="logo" src="assets\img\logo-app.jpg" routerLink="/categories"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>